MINIO_ROOT_USER = your_minio_username
MINIO_ROOT_PASSWORD = your_minio_password

RESTIC_PASSWORD = your_restic_password

SQLSERVER_HOST = container-sql-express
SQLSERVER_PORT = 1433
SQLSERVER_PASSWORD = your_sqlserver_password
SQLSERVER_DB_NAME = BizFirstAtlasDB_Dev

POSTGRES_HOST = postgres
POSTGRES_PORT = 5432
POSTGRES_USER = your_postgres_username
POSTGRES_DB = bizfirst_rag
POSTGRES_PASSWORD = your_postgres_password

